{#{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}#}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block pageId %}id="profil"{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        {% include "@FOSUser/Profile/show_content.html.twig" %}
    </div>
{% endblock %}
