{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% block fos_user_content %}
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <h1>
                        <small>Bienvenue </small> {{ user.username }}
                    </h1>
                    <a href="{{ path('homepage') }}" class="btn right">
                        Retour
                    </a>
                </div>
            </div>

        </div>
    {% endblock fos_user_content %}
    
{% endblock %}