{% trans_default_domain 'FOSUserBundle' %}

<div class="red-text text-center">
    Attention! Tous les champs sont obligatoires
</div>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Valider" class="btn right" />
    </div>
{{ form_end(form) }}
