$color-black: #282828;
$color-white: #ffffff;
$color-almost-white: #efefef;
$color-green: #26a69a;
$color-red: #b40200;
$color-blue-dodger: #1098F7;
$color-baby-powder: #FFFFFA;

$color-orange: #FF5200;

$color-dark: #4a4a4a;
$color-body: $color-white;

$color-grey-light: #dfdfdf;


$primary: $color-green;
$secondary: $color-orange;

//$color-accent: $color-yellow;

$color-primary-light: lighten($primary, 10%);
$color-primary: $primary;
$color-primary-dark: darken($primary, 5%);
$color-primary-darker: darken($primary, 10%);

$color-secondary-light: lighten($secondary, 5%);
$color-secondary: $secondary;
$color-secondary-dark: darken($secondary, 5%);
$color-secondary-darker: darken($secondary, 10%);

$color-footer: $color-secondary-dark;

$font-poiret: 'Poiret One', cursive;
$font-figures: 'Anton', sans-serif;
$font-century: 'Muli', sans-serif;
$font-balthazar: 'Balthazar', serif;

$font-family: $font-century;
$font-family-title: $font-balthazar;

.title {
  color: $color-primary-light;
  font-size: 1.5em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: inset $x $y $blur $spread $color;
  -moz-box-shadow:    inset $x $y $blur $spread $color;
  -o-box-shadow:      inset $x $y $blur $spread $color;
  box-shadow:         inset $x $y $blur $spread $color;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#{$color}, Direction=134, Strength=#{$blur});
}

@mixin box-shadow-button {
  @include box-shadow(0px, 0px, 5px, 0px, $color-grey-light);
}