@import "variables";

body {
  font-family: $font-family-title;
}

a.link {
  color : $color-primary !important;
}

.question-title-sum {
  background: #180d0c;
  color: $color-primary-light;
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
}

.text-center {
  text-align: center;
}

th {
  text-align: center;
}

.figures {
  font-family: $font-figures;
  text-align: center;
}

header {
  background: #180d0c;
  padding: 50px 0 0;
  margin-bottom: 20px;
  box-shadow: 0 0 10px black;

  h1 {
    padding: 0;
    margin: 0;
    & > a {
      color : $color-primary;
    }
  }

  .home-link > i {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    color : $color-primary;
  }
}

h1 {
  margin-top: 50px;
  font-family: $font-family-title;
  color: $color-primary-light;
  text-align: center;
}

.poll-item {
  font-size: 1.3em;
  border-radius: 2px;
  margin-bottom: 5px;
}

.poll-answer {
  padding: 10px;
  text-align: center;
  display: inline-block;
}

nav {
  background: transparent;
}

.tabs {
  .indicator {
    color: $color-primary-light;
    background-color: $color-primary-light;
  }

  .tab {
    a {
      color: $color-primary-light;
    }

    a:hover, a.active {
      color: $color-primary;
    }
  }

}

