@import "variables";

.poll-item {

  font-size: 1.2em;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px 10px;

  & > div {
    border: 1px solid black;
  }

  .question-title {
    line-height: 2em;
  }
}

.question-title {
  background: #180d0c;
  color: $color-primary-light;
  padding: 10px !important;
  font-weight: bold;
}